<ion-header>
  <ion-toolbar>
    <ion-title size="large">Editar pessoa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="authForm" (ngSubmit)="submitForm()">
  <ion-grid>

    <ion-row class="linha-input">
      <ion-col size="0.5"></ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input clearInput formControlName="nome" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="nome.dirty && ( nome.hasError('required') || nome.hasError('minlength') || nome.hasError('maxlength') )">
          <ion-note color="danger" *ngIf="nome.dirty && nome.hasError('required')">Campo obrigatório</ion-note>
          <ion-note color="danger" *ngIf="nome.dirty && nome.hasError('minlength')">Mínimo 5 caracteres</ion-note>
          <ion-note color="danger" *ngIf="nome.dirty && nome.hasError('maxlength')">Máximo 80 caracteres</ion-note>
        </ion-item>
      </ion-col>
      <ion-col size="0"></ion-col>
    </ion-row>

    <ion-row class="linha-input">
      <ion-col size="0.5"></ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Idade</ion-label>
          <ion-input type="number" clearInput formControlName="idade" inputmode="numeric"></ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="idade.dirty && ( idade.hasError('required') || idade.hasError('max'))">
          <ion-note color="danger" *ngIf="idade.dirty && idade.hasError('required')">Campo obrigatório</ion-note>
          <ion-note color="danger" *ngIf="idade.dirty && idade.hasError('max')">Valor máximo 150</ion-note>
        </ion-item>
      </ion-col>
      <ion-col size="0"></ion-col>
    </ion-row>

    <ion-row class="linha-input">
      <ion-col size="0.5"></ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">CPF</ion-label>
          <ion-input clearInput type="text" formControlName="cpf" inputmode="numeric"></ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="cpf.dirty && cpf.hasError('required')">
          <ion-note color="danger">Campo obrigatório</ion-note>
        </ion-item>
        <ion-note slot="end" color="danger" *ngIf="cpf.dirty && cpf.hasError('required')">Required</ion-note>
      </ion-col>
      <ion-col size="0"></ion-col>
    </ion-row>
      <ion-row class="combo-box" >
        <ion-col size="0.5"></ion-col>
        <ion-col >
          <ion-list>
            <ion-radio-group formControlName="perfil" value="{{this.pessoa.perfil.id}}">
              <ion-list-header>
                <ion-title>Perfil</ion-title>
              </ion-list-header>
              <ion-item *ngFor="let perfil of perfis">
                <ion-label>{{perfil.nome}}</ion-label>
                <ion-radio slot="start" value="{{perfil.id}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
        <ion-col size="0"></ion-col>
      </ion-row>
      <ion-row class="combo-box">
        <ion-col size="0.5"></ion-col>
        <ion-col >
          <ion-list>
            <ion-radio-group formControlName="tipo" value="{{this.pessoa.tipo}}">
              <ion-list-header>
                <ion-title>Tipo</ion-title>
              </ion-list-header>
              <ion-item *ngFor="let tipo of tipos">
                <ion-label>{{tipo.descricao}}</ion-label>
                <ion-radio slot="start" value="{{tipo.cod}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
        <ion-col size="0"></ion-col>
      </ion-row>
    <ion-row class="botao-enviar">
      <ion-col size="0.5"></ion-col>
      <ion-col>
          <ion-button type="submit" expand="block" [disabled]="authForm.invalid">Enviar</ion-button>
      </ion-col>
      <ion-col size="0"></ion-col>
    </ion-row>


  </ion-grid>
</form>
</ion-content>
