h1 {
  text-align: center;
  font-size: 2em;
}

ion-text{
  font-size: 1.1em;
  text-align: center;
}

.list ion-icon {
  text-align: start; font-size: 1.8em;
}

.list ion-label {
  font-size: 1.65em;
}

ion-header ion-title {
  font-size: 1.85em;
  text-align: center;
}

ion-list{
  margin-top: 30px;
}
ion-header {
  padding: 5%;
  text-align: center;
}
ion-item-option ion-icon {
  width: 3em;
  height: 2em;
}


ion-header {
  background: var(--ion-color-primary);
}

ion-title {
  background: var(--ion-color-primary);
  color: white;
}
