ion-header {
  padding: 5%;
  text-align: center;

}

ion-header ion-title {
  font-size: 1.85em;
  text-align: center;
}

.linha-input ion-label{
  font-size: 1.5em;
}

.linha-input ion-input{
  font-size: 1.25em;
}

