<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/menu/pessoa"
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title size="large">Visualizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="linha-input">
      <ion-col size="0.5"></ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="color" position="stacked">Nome</ion-label>
          <ion-input [readonly]="true" type="text">{{perfil.nome}}</ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="0"></ion-col>
    </ion-row>

    <ion-row class="linha-input">
      <ion-col size="0.5"></ion-col>
      <ion-col size="11">
        <ion-item >
          <ion-list >
            <ion-label class="color" position="stacked">Aplicativos</ion-label>
            <ion-item lines="none" *ngFor="let aplicativo of perfil.aplicativos">
              <ion-icon slot="start" name="eye-outline" routerLink="/tabs/menu/aplicativo/read/{{aplicativo.id}}" color="secondary"></ion-icon>
              <ion-label>{{aplicativo.nome}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-col>
      <ion-col size="0.5"></ion-col>
    </ion-row>

    <ion-row class="linha-input">
      <ion-col size="0.5"></ion-col>
      <ion-col size="11">
        <ion-item>
          <ion-list>
            <ion-label class="color" position="stacked">Pessoas</ion-label>
            <ion-item lines="none" *ngFor="let pessoa of pessoas">
              <ion-icon slot="start" name="eye-outline" routerLink="/tabs/menu/pessoa/read/{{pessoa.id}}" color="secondary"></ion-icon>
              <ion-label>{{pessoa.nome}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-col>
      <ion-col size="0.5"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
