<ion-header>
  <ion-toolbar>
    <ion-title size="large">Visualizar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="linha-input">
      <ion-col size="0.5"></ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input [readonly]="true" type="text">{{perfil.nome}}</ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="0"></ion-col>
    </ion-row>

    <ion-row class="linha-input">
      <ion-col size="0.5"></ion-col>
      <ion-col size="11">
        <ion-item>
          <ion-label position="stacked">Aplicativos</ion-label>
          <ion-slides pager="true" [options]="slideOpts" >
            <ion-slide *ngFor="let aplicativo of aplicativos">
              <ion-card >
                <ion-card-header>
                  <ion-card-title>{{aplicativo.nome}}</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-item>
      </ion-col>
      <ion-col size="0.5"></ion-col>
    </ion-row>

    <ion-row class="linha-input">
      <ion-col size="0.5"></ion-col>
      <ion-col size="11">
        <ion-item>
          <ion-label position="stacked">Pessoas</ion-label>
          <ion-slides pager="true" [options]="slideOpts" >
            <ion-slide *ngFor="let aplicativo of aplicativos">
              <ion-card >
                <ion-card-header>
                  <ion-card-title>{{aplicativo.nome}}</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-item>
      </ion-col>
      <ion-col size="0.5"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
