h1 {
  text-align: center;
  font-size: 2em;
}

ion-text{
  font-size: 1.1em;
  text-align: center;
}

.item-lista {
  text-align: start; font-size: 1.5em;
}

.icon-lista {
  font-size: 2em;
}

ion-list{
  margin-top: 30px;
}
ion-header {
  padding: 5%;
  text-align: center;
}

ion-header ion-title {
  font-size: 1.85em;
  text-align: center;
}

ion-fab-button{
  width: 4.5em;
  height: 4.5em;
}

ion-fab-button ion-icon{
  width: 2em;
  height: 2em;
}

ion-item-option ion-icon {
  width: 3em;
  height: 2em;
}

