<ion-tabs>
  <ion-tab-bar slot="bottom" color="ligth">

    <ion-tab-button tab="pessoa">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Pessoas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="ribbon-outline"></ion-icon>
      <ion-label>Perfis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="aplicativo">
      <ion-icon name="code-working-outline"></ion-icon>
      <ion-label>Aplicativos</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="consultas">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
