.ion-activatable .ion-selectable .ion-focusable{
  background-color: var(--ion-color-secondary);
}

.tab-selected  > ion-label{
  color: var(--ion-color-secondary);
}


.tab-selected  > ion-icon{
  color: var(--ion-color-secondary);
}
