<ion-header>
  <ion-toolbar>
    <ion-title size="large">Visualizar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="linha-input">
      <ion-col size="0.5"></ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input [readonly]="true" type="text">{{aplicativo.nome}}</ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="0"></ion-col>
    </ion-row>
    <ion-row class="linha-input">
      <ion-col size="0.5"></ion-col>
      <ion-col size="11">
        <ion-item>
          <ion-list>
            <ion-label position="stacked">Perfis</ion-label>
            <ion-item lines="none" *ngFor="let perfil of perfis">
              <ion-icon slot="start" name="eye-outline" routerLink="/tabs/menu/pessoa/read/{{perfil.id}}"></ion-icon>
              <ion-label>{{perfil.nome}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-col>
      <ion-col size="0.5"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
